<?xml version='1.0'?>
<robot name="my_robot" 
  xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- add wheel xacro platform include files -->
  <xacro:include filename="$(find my_robot_description)/urdf/wheel.xacro"/>
<!-- add gazebo plugins -->
<xacro:include filename="$(find my_robot_description)/urdf/my_robot.gazebo"/>
	
  <link name="base_link"></link> 
  <joint name="base_link_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="body_link"/>
  </joint>

  <link name='body_link'>
    <pose>0 0 0.1 0 0 0</pose>

    <xacro:property name="mass" value="6" />
    <xacro:property name="width" value="0.5" />
    <xacro:property name="depth" value="0.7" />
    <xacro:property name="height" value="0.2" />

    <inertial>
      <mass value="${mass}"/>
      <origin xyz="0 0 0.05" rpy=" 0 0 0"/>
      <inertia 
      ixx="${1/12* mass*(width*width+height*height)}" ixy="0" ixz="0" 
      iyy="${1/12* mass*(depth*depth+height*height)}" iyz="0" 
      izz="${1/12* mass*(width*width+depth*depth)}" 
      />
    </inertial>
  
   <collision>
      <origin xyz="0 0 0.02" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://my_robot_description/meshes/clearpath_husky_chassis.dae" scale="1 1 1"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0.02" rpy=" 0 0 0"/>
      <geometry>
        <mesh filename="package://my_robot_description/meshes/clearpath_husky_chassis.dae" scale="1 1 1"/>
      </geometry>
    </visual>

  </link>
  
   <!--wheel macros-->
   <xacro:wheel alignment="front_left" x_="0.26" y_="-0.27" z_="0.03" r_="1.5707" p_="0" j_="0" >
	</xacro:wheel>

    <xacro:wheel alignment="front_right" x_="0.26" y_="0.27" z_="0.03" r_="1.5707" p_="0.0" j_="0.0" >
	</xacro:wheel>

   <xacro:wheel alignment="rear_left" x_="-0.26" y_="-0.27" z_="0.03" r_="1.5707" p_="0" j_="0" >
	</xacro:wheel>

    <xacro:wheel alignment="rear_right" x_="-0.26" y_="0.27" z_="0.03" r_="1.5707" p_="0.0" j_="0.0" >
	</xacro:wheel>
      
      
   <!-- rplidar Laser -->
<link name="laser">
  <collision>
     <origin xyz="0 0 0" rpy="1.5707 0 4.71"/>
     <geometry>
       <mesh filename="package://my_robot_description/meshes/rplidar.stl" scale="0.001 0.001 0.001" />
     </geometry>
   </collision>
   <visual>
     <origin xyz="0 0 0" rpy="1.5707 0 4.71"/>
     <geometry>
     <mesh filename="package://my_robot_description/meshes/rplidar.stl" scale="0.001 0.001 0.001" />
     </geometry>
   </visual>

   <inertial>
     <mass value="1e-5" />
     <origin xyz="0 0 0" rpy="1.5707 0 4.71"/>
       <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
      </inertial>
 </link>	  
 
 <joint name="rplidar_joint" type="fixed">
    <axis xyz="0 1 0" />
     <origin xyz="0.23 0 0.24" rpy="0 0 3.14"/>
    <parent link="body_link"/>
    <child link="laser"/>
 </joint> 

<!--imu-->
 <joint name="imu_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="body_link"/>
    <child link="imu_link"/>
  </joint>

  <link name="imu_link">
  </link>


</robot>
