<?xml version="1.0"?>

<model>
  <name>raptor_model</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Reka Berci-Hajnovics</name>
    <email>reka@dobots.nl</email>
  </author>

  <description>
    A baby raptor. Not created by me. The 3d models are downloaded from Thingiverse.com. The license file can be found inside the meshes folder.
  </description>
</model>
